<a href="https://colab.research.google.com/github/vinceclarenceclaros/OOP1-1/blob/main/Lab_Activity_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1
Name = "Vince Clarence R. Claros"
Student_No = "02210001933"
Age = 20
School = "Our Lady Fatima University"
Course = "Bachelor of Science in Computer Science"

#2
class Student:

  def __init__(student, Name, Student_No , Age, School, Course):
    student.name = Name
    student.Student_No = Student_No
    student.Age = Age
    student.School = School
    student.Course = Course
  #4
  def info(student):
    print("Name:",student.name)
    print("Student Number:",student.Student_No)
    print("Age:",student.Age)
    print("School:", student.School)
    print("Course:", student.Course)

#3
Myself = Student(Name, Student_No, Age, School, Course)
Myself.info()

Name: Vince Clarence R. Claros
Student Number: 02210001933
Age: 20
School: Our Lady Fatima University
Course: Bachelor of Science in Computer Science